<html>
    <head>
      <meta charset="utf-8">
      <style>
        #customers {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
        }
      </style>
    </head>
    <body>
      <h3>Relatório de Controle de Coleta</h3>
    <p>Data: {{ startDate }} até {{ endDate }}</p>
      <table id='customers'>
      <thead>
        <tr>
          <th>Data</th>
          <th>Status da Coleta</th>
          <th>Condição da Coleta</th>
        </tr>
      </thead>
      <tbody>
        @each(coleta in coletas)
            <tr>
                <td>{{ coleta.dateFormat }}</td>
                <td>{{ data.status_coleta === 1 ? 'Realizada' : 'Adiada' }}</td>
                <td>{{ data.condicao_coleta === 1 ? 'Ensoralada' : data.condicao_coleta === 2 ? 'Chuvoso' : 'Garoa' }}</td>
            </tr>
        @endeach
  </tbody>
</table>
</body>
</html>
