<html>
    <head>
      <meta charset="utf-8">
      <style>
        #customers {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
        }
      </style>
    </head>
    <body>
      <h3>Relatório de Controle de SS</h3>
    <p>Data: {{ startDate }} até {{ endDate }}</p>
      <table id='customers'>
      <thead>
        <tr>
          <th>Data</th>
          <th>Hora</th>
          <th>Bruto</th>
          <th>Reator 1</th>
          <th>Reator 2</th>
          <th>Reator 3</th>
          <th>Ação Corretiva</th>
        </tr>
      </thead>
      <tbody>
        @each(ss in sses)
            <tr>
                <td>{{ ss.dateFormat }}</td>
                <td>{{ ss.hora }}</td>
                <td>{{ ss.bruto }}</td>
                <td>{{ ss.reator_1 }}</td>
                <td>{{ ss.reator_2 }}</td>
                <td>{{ ss.reator_3 }}</td>
                <td>{{ ss.acao_corretiva }}</td>
            </tr>
        @endeach
  </tbody>
</table>
</body>
</html>
